---
import CharlotteSunImg from "@/assets/images/charlotte-sun.webp";
import forestImg from "@/assets/images/forest.webp";
import WaterPeaceImg from "@/assets/images/water-peace.webp";
import Layout from "@/layouts/layout.astro";
import { businessInfo } from "@/utils/helper";
import { Image } from "astro:assets";


---

<Layout
    title="Création Site Internet Professionnel | Devis Gratuit & Créer Site Web"
    description="Création de site internet professionnel. Devis gratuit en 24h pour créer votre site web moderne, rapide et visible sur Google. Expert création site internet France."
    keywords="création site internet, devis site internet, créer site internet, créer site web, site internet professionnel, creation site web, faire un site internet, prix site internet, créateur site internet France"
>
    <main role="main">
        <div>oki</div>

    </main>
</Layout>
